h1,h2{
    background-color: #a67cdf;
    color: white;
    text-align: center;
    font-weight: 400;
    text-decoration-color: rgb(255,0,0);
    font-size: 2rem;
}
p{
    background-color: #fb8500;
    color: rgb(33, 80, 151);
    font-weight: 800;
    line-height: 50px;
    font-family: cursive;
}
form{
    text-align: center;
}
li{
    font-size:2rem;
    color: darkblue;
}

#subhead{
    text-align: center;
    color: darkgreen;
    font-weight: 700;
    font-size: 4em;
}
.special{
    color: black ;
}
body{
    background-color: deeppink; 
}
input[type="text"]{
    margin-bottom: 2em;
}
input{
    width: 15em;
    margin-bottom: 2rem;
}
a:active{
    color: #fb8500;
    background-color: blue;
    font-size: 2em;
}
#menu :hover{
    color: brown;
    font-size: 2.3em;
}
button[type="submit"]{
     color: white;
     background-color: brown;
     text-decoration: underline;
     padding: 1.3em;
}
#head:nth-last-of-type(2n){
background-color: #fb8500; 
}